# Environment
VITE_API_URL=http://localhost:8000/api/v1
ENVIRONMENT=development
PROJECT_NAME="AI Interview Prep Platform API"
# API Settings
API_V1_STR=/api/v1
HOST=0.0.0.0
PORT=8000
# Security (JWT)
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
# MongoDB Database
MONGODB_URL=
MONGO_DATABASE=ai_interview_prep
# External APIs
GROQ_API_KEY=
NVIDIA_API_KEY=
#  Google Login 
VITE_GOOGLE_CLIENT_ID=